:root {
    --skyblue-color: #29B0EA;
}

/* Sign Up Css Start */

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.signup-welcome h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #000;
}

.signup-welcome p {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
    color: #6B7280;
}
.signup-footer p {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #6B7280;
}
.social-btn {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #EDEDED;
    box-shadow: 0px 2px 2px 0px #00000014;
    border-radius: 7px;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    color: #6B7280;
}

.social-btn img {
  width: 20px;
  margin-right: 8px;
}

.signup-form {
  margin: 20px 0;
}

.signup-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #6B7280;
}

.signup-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 26px;
    border-radius: 7px;
    height: 48px;
    box-shadow: 0px 2px 2px 0px #00000014;
    border: 1px solid #EDEDED;
    background: #FFFFFF;
    margin-top: 4px;
    outline: none;
}
.next-button {
    width: 100%;
    padding: 12px;
    background: var(--skyblue-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 48px;
}

.signup-footer {
  margin-top: 20px;
}

.signup-link {
  color: var(--skyblue-color);
  font-weight: bold;
}

body.page-authentication-sign-up-cover .MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
    display: none;
}
header.header_sign_auth {
    padding: 10px 0;
}

header.header_sign_auth .container {
    width: 1240px;
    margin: 0 auto;
}

.auth_layout_display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth_layout_display .header-left img {
    width: 50%;
}
.header-right a {
    width: 100%;
    padding: 10px 23px;
    background: var(--skyblue-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}


/* Sign In Css Start */
/* Wrapper */
.bms-journey-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9fbfd;
  padding: 2rem;
}

/* Card styling */
.signup-card {
    width: 100%;
    max-width: 400px;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none !important;
}

/* Heading section */
.signup-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.signin-footer p a {
    color: var(--skyblue-color);
}
.brand-name {
  color: var(--skyblue-color);
  font-weight: bold;
  font-size: 24px;
}
.bms-journey-wrapper form.form_signup_code .form-row .form-col {
    width: 50%;
}
.signin-footer p {
    font-weight: 500;
    font-size: 14px;
    color: #6B7280;
}
.bms-journey-wrapper form.form_signup_code input {
    border: 1px solid #EDEDED;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 0px #00000014;
    border-radius: 7px;
    height: 48px;
    box-sizing: inherit;
}
.bms-journey-wrapper form.form_signup_code .MuiSelect-select.MuiSelect-outlined {
    border: 1px solid #EDEDED;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 0px #00000014;
    border-radius: 7px;
    height: 48px;
    box-sizing: inherit;
    color: #adadad;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
}
.css-1ooday6-MuiButtonBase-root-MuiButton-root:focus:not(:hover) {
    background: transparent;
    box-shadow: none;
}
.bms-journey-wrapper form.form_signup_code fieldset.MuiOutlinedInput-notchedOutline {
    border: none;
}
.btn_signup_form button {
    margin-top: 30px;
    background-color: var(--skyblue-color) !important;
    border: none !important;
    box-shadow: none !important;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    height: 48px;
}
.bms-journey-wrapper form.form_signup_code .form-row {
    display: flex;
    gap: 10px;
}
.btn_signup_form button:hover {
    background-color: #000 !important;
}
.welcome-text {
  font-size: 18px;
  margin-top: 8px;
  font-weight: 600;
}

.sub-text {
  font-size: 14px;
  margin-top: 4px;
  color: #555;
}

/* Form */
.signup-form .form-group {
  margin-bottom: 1rem;
}

.bms-journey-wrapper form.form_signup_code label {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #6B7280;
}

.signup-form .form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.signup-form .form-col {
  flex: 1;
}
.signin-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 14px;
}
.current_location button {
    border: 1px solid var(--skyblue-color);
    color: var(--skyblue-color);
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    height: 48px;
    background: #fff !important;
}
body.page-authentication-sign-in-cover .MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
    display: none;
}
body.page-authentication-sign-in-cover .signup-card {
    background: transparent;
    border: none;
}



/* Pricing Css */
.header_grid {
    display: none;
}

.pricing_table {
    padding: 50px 0;
}

.our_plan_list ul li {
    background: #00000014;
    border: 1px solid #00000029;
    width: fit-content;
    margin: auto;
    padding: 10px 21px 10px 35px;
    border-radius: 40px;
    list-style: none;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
}
.our_plan_list h4 {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    margin-top: 30px;
}
.our_plan_list p {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    width: 54%;
    margin: 10px auto 50px;
    color: #4B4B4B;
}
.our_plan_list ul li:after {
    position: absolute;
    content: '';
    background: #000;
    width: 6px;
    height: 6px;
    left: 18px;
    top: 18px;
    border-radius: 50%;
}
.tab_box_design {
    box-shadow: 0px 1px 2px 0px #00000033;
    width: fit-content;
    background: #FFFFFF !important;
    margin: 0 auto 50px;
    padding: 10px 10px !important;
}
body.page-pages-pricing-page .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1 {
    background: #F8FAFD;
}
button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
    background: #29B0EA;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff !important;
}
button.MuiButtonBase-root.MuiTab-root {
    padding: 4px 20px;
}

.pricing_card {
    box-shadow: 0px 2px 2px 0px #00000014;
    border: 1px solid #EDEDED;
    border-radius: 32px;
    background: #FFFFFF;
}

.pricing_card .MuiBox-root, .pricing_card  .MuiPaper-root {
    background-color: transparent !important;
    border: none;
}

.pricing_card.selected a.MuiButtonBase-root.MuiButton-root {
    background: #fff;
    color: #000 !important;
    border: none !important;
    border-radius: 9px;
    box-shadow: none;
}

.pricing_card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 32px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
    color: #000;
}

.pricing_card:hover {
  transform: translateY(-5px);
}

.pricing_card.selected {
  background: linear-gradient(180deg, #29B0EA 0%, #66D1FF 100%);
  border: none;
  color: #fff; /* <-- Make ALL text white */
}

.pricing_card.selected * {
  color: #fff !important; /* Make ALL child text white too */
}

.pricing_card .selected_chip {
  position: absolute;
  top: 10px;
  right: 10px;
}
.form_grid_width fieldset.MuiOutlinedInput-notchedOutline {
    outline: none !important;
    box-shadow: 0px 2px 2px 0px #00000014;
    border: 1px solid #EDEDED;
    background: transparent;
}
.form_grid_width input {
    height: 48px;
    box-sizing: inherit;
    background: #fff;
    box-shadow: 0px 2px 2px 0px #00000014;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    outline: none !important;
}
.pricing_plan_disble .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.select_color_bg {
    box-shadow: 0px 0px 2px 2px #FFFFFF66 inset;
    border: 1px solid #EDEDED;
    background: #fff;
    border-radius: 32px;
    padding: 40px;
}

.color_change {
    background: #000 !important;
    color: #fff !important;
    position: absolute;
    right: 18px;
    top: 19px;
    height: 35px !important;
    padding: 0 9px !important;
    font-size: 12px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
}
.fixed_pricing_bg .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root {
    background: transparent;
    box-shadow: none !important;
    border: none;
}
.pricing_plan_disble .price_card_display h4 {
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
}
.pricing_plan_disble .price_card_display h6.MuiTypography-root {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.pricing_plan_disble .price_card_display p.MuiTypography-root {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.pricing_plan_disble .price_card_display .button_price button {
    border: 1px solid #DDDDDD;
    box-shadow: 0px 0px 10px 2px #FFFFFF52 inset !important;
    margin-top: 14px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.pricing_plan_disble .price_card_display ul li {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    padding: 4px 0;
}
h6.MuiTypography-root.subtitle_features {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.form_grid_width .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6 {
    max-width: 100%;
    flex-basis: 40%;
}
.form_grid_width input {
    height: 48px;
    box-sizing: inherit;
}
.back_btn button {
    border: 1px solid #29B0EA;
    background: transparent;
    color: #29B0EA;
    box-shadow: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    height: 48px;
    border-radius: 11px;
}
.sign_in_btn button {
    background: #29B0EA !important;
    border-radius: 11px;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    box-shadow: none;
    opacity: 1;
}
.form_grid_width .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.MuiGrid-grid-sm-3 {
    max-width: 15% !important;
    flex-basis: 10% !important;
}